* {
    margin: 0;
    padding: 0;
    background-color: rgb(8, 41, 57);
    font-family: 'Ubuntu', sans-serif;
}

header {
    padding: 25px;
    background-color: rgb(8, 41, 57);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header nav {
    text-align: center;
}
header a {
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;

}

#loggInn {
    color: white;
    position: absolute;
    right: 0;
    margin-right: 20px;

}




