
main {
    position: relative;
}
main h1 {
    text-align: center;
    margin-bottom: 20px;
}

main h4 {
    color: rgb(200, 25, 25);
    text-align: center;
    margin-top: 175px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}


#sidevelger {
    position: absolute;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
    width: 100%;
    gap: 10px;
}
#sidevelger a {
    text-decoration: none;
    color: rgb(8, 41, 57);
    padding: 15px;
    background-color: white;
    border: solid 1px rgba(8, 41, 57, 0.2);
}
#sidevelger p {
    margin-top: 20px;
    margin-bottom: -20px;
    color: rgb(8, 41, 57);
    font-weight: 500;
}
