{% extends 'mal.html' %}

{% block tittel %}Favoritter{% endblock %}

{% block css %} 
    <link rel="stylesheet" href="{{ url_for('static',filename='produktvisning.css' ) }}"> 
    <style>
        .overskrift {
            text-align: center;
        }
        .gridBox {
            margin-bottom: 50px;
        }
    </style>
{% endblock %}

{% block main %}
    
    <h1 class="overskrift">Favorittene dine:</h1>

    <div class="gridBox">
        {% for ean, data in favoritter.items() %}
            <a href="/produkt/{{ ean }}">

                <form class="favorittForms" id="fjerFraForms" action="/fjern-fra-favoritter" method="post">
                    <input type="hidden" name="produkt" value="{{ ean }}">
                    <button type="submit">
                        <img id="fjernIkon" src="../static/ikoner/stjernex.png" alt="Fjern fra favoritter ikon">
                    </button>
                </form>
                
                <div class="produktbildeContainer">
                    <img src="{{ data['image'] }}" alt="Produktbilde: {{ data['name'] }}">
                </div>
                
                <div class="produktInfo">
                    <h6>
                        {% if data["brand"] != None %}
                            {{ data["brand"] }}
                        {% endif %}
                    </h6>

                    <h5>{{ data["name"] }}</h5>

                    <p>
                        {{ data["current_price"]["price"] }},- 
                    </p>
                </div>
            
            </a> 
        {% endfor %}
    </div>
    
{% endblock %}