{% extends 'mal.html' %}

{% block tittel %}Forside{% endblock %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static',filename='index.css' ) }}"> {% endblock %}

{% block main %}
    
    <form id="soek" action="/produkter" method="get"> 
        <label for="soek">Søk blant tusenvis av <br> dagligvarer og sammenlign priser</label>
        <div id="soekefelt">
            <input id="soekefeltet" type="search" name="soek" autocomplete="off">
            <button type="submit">
                <img src="../static/ikoner/search-icon.png" alt="Søk ikon">
            </button>
        </div>
        
    </form> 

    <form id="hurtigsoek" action="/produkter" method="get">
        <input type="submit" name="soek" value="Pasta">
        <input type="submit" name="soek" value="Laks">
        <input type="submit" name="soek" value="Mozzarella">
        <input type="submit" name="soek" value="Chateaubriand">
        <input type="submit" name="soek" value="Makrell i tomat">
        <input type="submit" name="soek" value="Tine Yoghurt">
        <input type="submit" name="soek" value="Tomatsuppe">
        <input type="submit" name="soek" value="Grandiosa Pizza">
        <input type="submit" name="soek" value="Cara Cucina Pesto">
        <input type="submit" name="soek" value="Tomat">
        <input type="submit" name="soek" value="Asparges">
        <input type="submit" name="soek" value="Pink Lady eple">
        <input type="submit" name="soek" value="Avokado">
        <input type="submit" name="soek" value="Tikka masala">
        <input type="submit" name="soek" value="Fetaost">
        <input type="submit" name="soek" value="Tagliatelle">
        <input type="submit" name="soek" value="Solsikkekjerner">
        <input type="submit" name="soek" value="Kylling">
        <input type="submit" name="soek" value="Safran">
        <input type="submit" name="soek" value="Salat">
        <input type="submit" name="soek" value="Parmigiano Reggiano">
        <input type="submit" name="soek" value="Appelsinjuice">
    </form>

    <script src="../static/script.js"></script>
    
{% endblock %}
