{% extends 'mal.html' %}

{% block tittel %} FORSIDE TEST! {% endblock %}

{% block main %}
    


    <form action="/produkter" method="get"> 
        <label for="soek">Søk blant tusenvis av <br> dagligvarer og sammenlign priser</label>
        <div id="soekefelt">
            <input type="search" name="soek" autocomplete="off">
            <button type="submit">
                <img src="../static/bilder/search-icon.png" alt="Søk ikon">
            </button>
        </div>
        
    </form> 



    
    
{% endblock %}
