{% extends 'mal.html' %}

{% block tittel %}{{ billigst["name"] }}{% endblock %}

{% block css %} <link rel="stylesheet" href="{{ url_for('static',filename='produkt.css' ) }}"> {% endblock %}

{% block main %}
    
    <button id="tilbakeknapp" onclick="history.back()">Gå tilbake
        <div class="triangle-left"></div>
    </button>

    <section class="produktoversikt">
        <div id="bildeContainer">
            <img src="{{ billigst['image'] }}" alt="Bilde av: {{ billigst['name'] }}">
        </div>
        <div class="oversiktsinfo">
            <h1>{{ billigst["name"] }}</h1>
            <h3>{{ merke }}</h3>
            <p>{{ beskrivelse }}</p>
            <h2>kr {{ prisene[0] }},-</h2>

            {% if produkter['ean'] not in favoritter %}
                <form class="favorittForms" id="leggTilForms" action="/legg-i-favoritter" method="post">
                    <input type="hidden" name="produkt" value="{{ produkter['ean'] }}">
                    <button type="submit">
                        <img id="leggTilIkon" src="../static/ikoner/stjerne+.png" alt="Legg i favoritter ikon">
                    </button>
                </form>
            {% else %}
                <form class="favorittForms" id="fjerFraForms" action="/fjern-fra-favoritter" method="post">
                    <input type="hidden" name="produkt" value="{{ produkter['ean'] }}">
                    <button type="submit">
                        <img id="fjernIkon" src="../static/ikoner/stjernex.png" alt="Fjern fra favoritter ikon">
                    </button>
                </form>
            {% endif %}
        </div>
    </section>

    <section class="produktSection">
        <h1>Alle priser</h1>
    
        <div class="gridWrapper">
            {% for produkt in produkter["products"] %}
            <a class="priserGrid" href="{{ produkt['url'] }}" target="_blank">
                <div id="butikk">
                    <img src="{{ produkt['store']['logo'] }}" alt="Logo til {{ produkt['store']['name'] }}">
                    <p>{{produkt["store"]["name"]}}</p>
                </div>
                <div id="produktnavn" class="span-6">
                    <p>Butikkens produktnavn:</p>
                    <h5>{{ produkt["name"] }}</h5>
                </div>
                <div class="span-2">
                    <!-- loop index er en 'telle-variabel' man kan bruke i jinja 2. -->
                    <h3>kr {{ prisene[loop.index0] }},-</h3>
                </div>
            </a>
            {% endfor %}
        </div>
    </section>

    <section class="produktSection">
        <h1>Prishistorikk</h1>

        <img id="graf" src="{{ graf_src }}" alt="Prishistorikk for:{{ billigst['name'] }}">

        <p>* Grafen er laget med QuickCharts api </p>
    </section>


    <section class="produktSection">

        <h1>Produktinformasjon</h1>
        <div class="merWrapper">
            <div onclick="skjul_vis(0)">
                <div class="merKnapp" >
                    <h2>Info</h2>
                    <div class="arrow-down"></div>
                </div>
                <div class="merInnhold">
                    <h6>Produktnavn:</h6>
                    <p>{{ billigst["name"] }}</p>
                    <h6>Merke:</h6>
                    <p>{{ merke }}</p>
                    <h6>Ingredienser:</h6>
                    <p>{{ billigst["ingredients"] }}</p>
                    <h6>Leverandør:</h6>
                    <p>{{ billigst["vendor"] }}</p>
                    <h6>Europeisk artikkelnummer (EAN):</h6>
                    <p>{{ ean }}</p>
                </div>
            </div>
            <div onclick="skjul_vis(1)">
                <div class="merKnapp" >
                    <h2>Næringsinnhold</h2>
                    <div class="arrow-down"></div>
                </div>
                <div class="merInnhold">
                    <h5>Næringsinnhold per 100g av matvaren</h5>
                    {% for innhold in produkter["nutrition"] %}
                        <ul>
                            <li>{{ innhold["display_name"] }}: {{ innhold["amount"] }} {{innhold["unit"]}}</li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
            <div onclick="skjul_vis(2)">
                <div class="merKnapp">
                    <h2>Allergener</h2>
                    <div class="arrow-down"></div>
                </div>
                <div class="merInnhold">
                    {% if antall_allergener == 0 %}
                        <p>Dette produktet har ingen allergener.</p>
                    {% else %}
                        {% for allergen in produkter["allergens"] %}
                            {% if allergen["contains"] != "NO" %}
                                {% if allergen["contains"] == "YES" %}
                                    <ul>
                                        <li>Inneholder {{ allergen["display_name"] }}</li>
                                    </ul>
                                {% else %}
                                    <ul>
                                        <li>Kan inneholde spor av {{ allergen["display_name"] }}</li>
                                    </ul>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    

                </div>
            </div>
        </div>

    </section>


    <script src="../static/skjul-vis.js"></script>

    
{% endblock %}