{% extends 'mal.html' %}

{% block main %}
    
    {% for produkt in produkter["products"] %}
        <p>{{ produkt["name"] }}</p>
    {% endfor %}
    <br>
    {% for produkt in produkter["products"] %}
        <p>{{ produkt["vendor"] }}</p>
    {% endfor %}
    <br>
    {% for produkt in produkter["products"] %}
        <p>{{ produkt["brand"] }}</p>
    {% endfor %}
    <br>
    {% for produkt in produkter["products"] %}
        <p>{{ produkt["description"] }}</p>
    {% endfor %}
    <br>
    {% for produkt in produkter["products"] %}
        <p>{{ produkt["ingredients"] }}</p>
    {% endfor %}
    <br>
    {% for produkt in produkter["products"] %}
        <p>{{ produkt["url"] }}</p>
    {% endfor %}
    <br>
    {% for produkt in produkter["products"] %}
        <p>{{ produkt["image"] }}</p>
    {% endfor %}
    <br>
    {% for produkt in produkter["products"] %}
        <p>{{ produkt["store"] }}</p>
    {% endfor %}
    <br>
    {% for produkt in produkter["products"] %}
        <p>{{ produkt["current_price"] }}</p>
    {% endfor %}
    <br>
    {% for produkt in produkter["products"] %}
        <p>{{ produkt["price_history"] }}</p>
    {% endfor %}
    <br>


    <br>

    <p>{{ produkter["nutrition"] }}</p>
    <br>
    <br>
    <p>{{ produkter["allergens"] }}</p>



{% endblock %}